.about {
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoBioContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bio {
  color: var(--text-color);
  font-family: var(--portfolio-font);
  font-size: 24px;
  font-weight: 200;
  width: 400px;
  margin: 20px;
}

.photo {
  height: 500px;
  border-radius: 20px;
  margin: 20px;
}