.main {
  background: var(--page-background);
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
}

.profileImage {
  border-radius: 15px;
  height: 600px;
  /* filter: grayscale(100%); */
  /* transition: all .5s ease; */
}

/* .profile:hover {
  filter: none;
  transition: all .5s ease;
} */

.name {
  font-size: 48px;
  font-weight: 200;
  color: var(--text-color);
  /* margin-left: 2vw; */
  /* text-align: center; */
  /* margin-top: 200px; */
  align-self: center;
  letter-spacing: 3px;
}

.bio {
  color: var(--text-color);
  width: 450px;
  margin-left: 2vw;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0.4px;
}