.projectList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--text-color);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.projectAndNumber {
  display: flex;
  flex-direction: row;
}

.projectNumber {
  margin: 20px;
  color: var(--text-color-dark);
  font-size: 32px;
  font-weight: 450;
  align-self: center;
}

.project {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 340px;
  width: 1243px;
  color: var(--text-color);
  filter: grayscale(100%);
  transition: all 1s ease;
  cursor: pointer;
}

.projectClicked {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 640px;
  width: 1243px;
  color: var(--text-color);
  /* filter: grayscale(100%); */
  transition: all 1s ease;
  cursor: pointer;
}

.project:hover {
  filter: none;
  transition: all 1s ease;
}

.project:hover > .headline {
  background: var(--page-background);
  color: var(--text-color);
  transition: all 1s ease;
}

.headline {
  display: flex;
  background: var(--project-header-background-color);
  height: 80px; 
  border-top-right-radius: 2vh;
  border-top-left-radius: 2vh;
  color: var(--text-color-dark);
  transition: all 1s ease;
}

.headlineText {
  margin-left: 40px;
  margin-top: 20px;
  font-size: 32px;
  font-weight: 450;
}

.content {
  display: flex;
  background: var(--project-content-background-color);
  height: 260px;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
  color: var(--text-color-dark);
  flex-direction: row;
  transition: all 1s ease;
}

.contentClicked {
  display: flex;
  background: var(--project-content-background-color);
  height: 560px;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
  color: var(--text-color-dark);
  flex-direction: row;
  transition: all 1s ease;
}

.contentRightColumn {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 25px;
  margin-bottom: 35px;
  justify-content: space-between;
}

.projectImage {
  height: 200px;
  width: 361px;
  border-radius: 12px;
  margin-left: 40px;
  margin-top: 25px;
}

.about {
  font-size: 24px;
  font-weight: 220;
  letter-spacing: 0.4px;
}

.techStack {
 display: flex;
}

.tech  {
  height: 50px;
  margin-right: 10px;
}

.techLogoLanguage {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.techName {
  align-self: center;
  font-size: 18px;
  font-weight: 300;
}